<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{ satellites.length }}</span></div>
   <div>Space Debris: <span>{{ numberOfSatelliteType('Space Debris') }}</span></div>
   <div>Communication: <span>{{ numberOfSatelliteType('Communication') }}</span></div>
   <div>Probe: <span>{{ numberOfSatelliteType('Probe') }}</span></div>
   <div>Positioning: <span>{{ numberOfSatelliteType('Positioning') }}</span></div>
   <div>Space Station: <span>{{ numberOfSatelliteType('Space Station') }}</span></div>
   <div>Telescope: <span>{{ numberOfSatelliteType('Telescope') }}</span></div>
</div>